<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Name" value="4RTools"/>
    <add key="ProfileFolder" value="./ProfileTest\"/>
    <add key="GithubLink" value="https://github.com/4RTools/4Rtools"/>
    <add key="DiscordLink" value="https://discord.gg/HRWvG5ut"/>
    <add key="Version" value="v1.7.3"/>
  </appSettings>
</configuration>