<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Name" value="4RTools"/>
    <add key="Version" value="v2.1.8"/>
    <add key="ProfileFolder" value="Profile\\"/>
    <add key="4RToolsWebsite" value="https://www.4rtools.com.br"/>
    <add key="GithubLink" value="https://github.com/4RTools/4Rtools"/>
    <add key="DiscordLink" value="https://discord.gg/AtZ2fJVtBz"/>
    <add key="SupportedServersURL" value="https://raw.githubusercontent.com/4RTools/4RTools/main/supported_servers.json"/>
    <add key="4RLatestVersionURL" value="https://api.github.com/repos/4RTools/4RTools/releases/latest"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>